{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

	<ul class="title_list_sr">
		{% for title in title %}
			<li><h5>{{ title.name }}</h5></li>
		{% endfor %}
	</ul>
	<div class="list_super_royaume">
		<div class="animal">
			{% for animal in animal %}
				<span class="animal_name">
					{{ animal.name }}
				</span>
				<span class="animal_number">
					<input type="text" value="{{ animal.actuel }}" size="5"> - 
					<input type="text" value="{{ animal.max }}" disabled size="5">
					=
					<input type="text" value="{{ animal.max - animal.actuel }}" size="5" disabled>
				<i class="fa-solid fa-check"></i>
				<i class="fa-solid fa-xmark"></i>				
				</span>
				<br><br>
			{% endfor %}
		</div>
		
		<!--<div class="artisanat">
			{% for artisanat in artisanat %}
				<span class="artisanat_name">
					{{ artisanat.name }}
				</span>
				<span class="artisanat_number">
					<input type="text" value="{{ artisanat.actuel }}" size="5"> - 
					<input type="text" value="{{ artisanat.max }}" disabled size="5">
					=
					<input type="text" value="{{ artisanat.max - artisanat.actuel }}" size="5" disabled>
				</span>
				<br><br>			
			{% endfor %}
		</div>

		<div class="autres">
			{% for autres in autres %}
				<span class="autres_name">
					{{ autres.name }}
				</span>
				<span class="autres_number">
					<input type="text" value="{{ autres.actuel }}" size="5"> - 
					<input type="text" value="{{ autres.max }}" disabled size="5">
					=
					<input type="text" value="{{ autres.max - autres.actuel }}" size="5" disabled>
				</span>
				<br><br>			
			{% endfor %}
		</div>

		<div class="aventure">
			{% for aventure in aventure %}
				<span class="aventure_name">
					{{ aventure.name }}
				</span>
				<span class="aventure_number">
					<input type="text" value="{{ aventure.actuel }}" size="5"> - 
					<input type="text" value="{{ aventure.max }}" disabled size="5">
					=
					<input type="text" value="{{ aventure.max - aventure.actuel }}" size="5" disabled>
				</span>
				<br><br>			
			{% endfor %}
		</div>

		<div class="machine">
			{% for machine in machine %}
				<span class="machine_name">
					{{ machine.name }}
				</span>
				<span class="machine_number">
					<input type="text" value="{{ machine.actuel }}" size="5"> - 
					<input type="text" value="{{ machine.max }}" disabled size="5">
					=
					<input type="text" value="{{ machine.max - machine.actuel }}" size="5" disabled>
				</span>
				<br><br>
			{% endfor %}
		</div>

		<div class="production">
			{% for production in production %}
				<span class="production_name">
					{{ production.name }}
				</span>
				<span class="production_number">
					<input type="text" value="{{ production.actuel }}" size="5"> - 
					<input type="text" value="{{ production.max }}" disabled size="5">
					=
					<input type="text" value="{{ production.max - production.actuel }}" size="5" disabled>
				</span>
				<br><br>
			{% endfor %}
		</div>-->
	</div>
{% endblock %}
