{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

	<ul class="title_list_sr">
		<li>Animal</li>
		<li>Artisanat</li>
		<li>Autres</li>
		<li>Aventure</li>
		<li>Machine</li>
		<li>Production</li>
	</ul>
	<div class="list_super_royaume">
		<div class="animal">
			{% for animal in animal %}
				<h5>{{ animal.name }}</h5>
			{% endfor %}
		</div>
		
		<div class="artisanat">
			{% for artisanat in artisanat %}
				<h5>{{ artisanat.name }}</h5>
			{% endfor %}
		</div>

		<div class="autres">
			{% for autres in autres %}
				<h5>{{ autres.name }}</h5>
			{% endfor %}
		</div>

		<div class="aventure">
			{% for aventure in aventure %}
				<h5>{{ aventure.name }}</h5>
			{% endfor %}
		</div>

		<div class="machine">
			{% for machine in machine %}
				<h5>{{ machine.name }}</h5>
			{% endfor %}
		</div>

		<div class="production">
			{% for production in production %}
				<h5>{{ production.name }}</h5>
			{% endfor %}
		</div>
	</div>
{% endblock %}
